.submit {
    position: relative;
    top:54px;
    left: 90px;
    background-color: black;
    color:white;
    border: 0;
    font-family: monospace;
}
.submit:hover {
    background-color:darkseagreen;
}
.submit:active {
    background-color: green;
}
.input {
    resize:vertical;
    background-color: black;
    color: white;
    border-width: 0;
    padding: 5px;
    width: 100%;
}
.input:focus {
    outline: 0;
}
.title {
    color: white;
    position: relative;
    top: 23px;
    width: max-content;
    background-color: black;
    left: 30px;
    padding: 2px;
}
.regdiv {
    background-color:black;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    min-width: 20rem;
    max-width: 50rem;
    border: 2px solid white;
    outline: 10px solid black;
}
.register {
    color:aliceblue;
    font-size: .8srem;
    padding: .6rem;
    flex: 40%;
    min-width: 22rem
}