/* Entire */
.home {
    display: flex;
    gap: 10px;
}
/* Wrapper */
.wrapper {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin-top: 20px;
}
/* Vertical Column Segment */
.vertseg {
    background-color:black;
    border: 2px solid white;
    outline: 10px solid black;
    flex-grow: 1;
}

/* Segment Head */
.seghead {
    display: flex;
    position: relative;
    top: -10px;
    left: 6px;
    gap: 10px;
}

/* Head Parts */
.headtitle {
    background-color: black;
    padding-left:3px; padding-right:3px;
}
.headbutton {
    position: relative;
    top: -2px;
    background-color: black;
    color:darkseagreen;
    border: 2px solid darkseagreen;
    font-family: monospace;
}
.headbutton:hover {
    background-color:darkseagreen;
    color: white;
}
.headbutton:active {
    background-color: green;
}
.dropdown {
    display:block;
    z-index: 1;
}
.dropbutton {
    position: relative;
    top: -2px;
    padding: 1px;
    padding-left: 4px; padding-right: 4px;
    background-color: black;
    color:lightblue;
    border: 2px solid lightblue;
    font-family: monospace;
}
.dropoptions {
    position: absolute;
    display: none;
}
.dropdown:hover .dropoptions {
    display: flex;
    flex-flow: column nowrap;
}
.option {
    background-color: lightblue;
    color:black;
    border: 2px solid black;
    width: 100%;
    font-family: monospace;
}
/* Segment Body */
.segbody {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Body Parts */
.bodytext {
    resize:none;
    background-color: black;
    color: white;
    border-width: 0;
    min-height: 12rem;
    margin-bottom: 22px;
    flex-grow: 1;
    white-space: pre;
}
.bodytext:focus {
    outline:0;
}
.register {
    color:aliceblue;
    font-size: .9rem;
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: pre;
}